.game {
    width: 600px;
    height: 600px;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

@media (max-width: 768px) {
    .game {
        width: 400px;
        height: 400px;
        margin: 25px 0;
    }
}

@media (max-width: 500px) {
    .game {
        width: 200px;
        height: 200px;
        margin: 25px 0;
    }
}